gradio
langchain
langchain-community
langchain-core
mistral
langgraph
transformers
pandas
pillow
python-dotenv
datasets
kagglehub
protobuf
pydantic
chromadb
fastembed
duckduckgo-search
onnxruntime
requests
numpy
scikit-learn
tqdm
urllib3
typing-extensions